<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue3实现todolist-了解循环和双向绑定</title>
    <style>
      /* .red {
        color: red;
      }
      .green {
        color: green;
      } */
      .ok{
        color: red;
      }
      .no{
        color: green;
      }
      .finished{
        text-decoration: line-through;
        color: red;
      }
    </style>
  </head>
  <body>
    <div id="app">

      <div>
        <input v-model="inputValue">
        <button v-on:click="handleAddItem">增加</button>
        <ul>
            <li v-for="(item,index) of list" :style="'color:'+(item>10?'red':'green')+';'">
                <a 
                @click="isok(index)"
                 :class="{finished:item.finished}"
                 >{{item.title}}</a>
            </li>
        </ul>
    </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>

    <script>
      Vue.createApp({
        data() {
          return {
            inputValue: "",
            list: [
              {
                title:"aaa",
                finished:true,
              },
              {
                title:"bbb",
                finished:true,
              }
            ],
            in: 0,
          };
        },
        methods: {
          handleAddItem() {
            this.list.push({title:this.inputValue,finished:false});
          },
          isok(indx){
            this.list[indx].finished=!this.list[indx].finished;
          }
        },
      
    
      }).mount("#app");
    </script>
  </body>
</html>
